<div class="row">
    <div class="col-md-12">
        <h1>{{title}}<a href="/employees/add" class="btn btn-success pull-right" style="margin-top:5px;">Add New Product</a></h1>
        <hr />
    </div>
</div>

<div class = "row">
   
        
       <!-- <div class = "table-responsive" id="main-table">
             
            <table class ="table col-md-4">
            <thead>
                <tr>
                    <th colspan="1">PRODUCTS</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each data}}

                    <tr>
                        <td  height="19" width="20%">{{{employeeNum}}}
                        <a href="/employee/{{employeeNum}}">{{firstName}}&nbsp;{{last_name}}</a></br>
                        <a href="mailto:{{email}}">{{email}}</a></br>
                        {{addressStreet}}&nbsp;{{addresCity}}&nbsp;{{addressState}}&nbsp;{{addressPostal}}</br>
                        <a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></br>
                        <a href="/employees?status={{status}}">{{status}}</a></br>
                        <a href="/employees?department={{department}}">{{department}}</a></br>
                        {{hireDate}}</br></td>
                        
                       <td> <img src={{image}} alt="Smiley face" height="142" width="142"></td>
                        
                    </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
 -->
 

    
 
<div class="container-fluid">
   
    <div class="row">
         {{#each data}}
  <div class="col-md-4" id="products">
       
      <div class="col-md-5 data">   
          <div class="col-md-12" id="media"> 
                   <img src={{image_url}} alt="Smiley face" height="100" width="100">
         </div>       
          <div class="col-md-12"><span class="nowrap"><a href="/employee/{{employeeNum}}">{{name}}</a></span></div>
          <div class="col-md-12">Product ID#{{id}}</div>
          <!--<div class="col-md-12">{{origin}}<p>{{producer_name}}&nbsp;{{primary_category}}</p></div>
          <div class="col-md-12"><a href="/employees?manager={{employeeManagerNum}}">{{package}}</a></div>
          <div class="col-md-12"><a href="/employees?status={{status}}">{{alcohol_content}}</a></br></div>
          <div class="col-md-12"><a href="/employees?department={{department}}">{{total_package_units}}</a></div>-->
          <div class="col-md-12">${{price_in_cents}}</div>
           
     </div>
                
  </div>

{{/each}}
</div>
</div>

 

     

