<div class="row">
    <div class="col-md-12">
       
        <hr />
    </div>
</div>

<div class = "row">
   
        
       <!-- <div class = "table-responsive" id="main-table">
             
            <table class ="table col-md-4">
            <thead>
                <tr>
                    <th colspan="1">PRODUCTS</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each data}}

                    <tr>
                        <td  height="19" width="20%">{{{employeeNum}}}
                        <a href="/employee/{{employeeNum}}">{{firstName}}&nbsp;{{last_name}}</a></br>
                        <a href="mailto:{{email}}">{{email}}</a></br>
                        {{addressStreet}}&nbsp;{{addresCity}}&nbsp;{{addressState}}&nbsp;{{addressPostal}}</br>
                        <a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></br>
                        <a href="/employees?status={{status}}">{{status}}</a></br>
                        <a href="/employees?department={{department}}">{{department}}</a></br>
                        {{hireDate}}</br></td>
                        
                       <td> <img src={{image}} alt="Smiley face" height="142" width="142"></td>
                        
                    </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
 -->
 

    
 

   
    <div class="row">
 
   <div class = "table-responsive" id="main-table">
             
            <table class ="table col-md-4">
            <thead >
                <tr>
                    <th colspan="1">Item in Cart</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each data}}

                    <tr>
                        <td>
                        {{firstName}}
                        </td>
                        
                    </tr>
                {{/each}}
            </tbody>
            </table>
        </div>             
 
</div>

 

     

